<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoCADLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoCADLoader.Properties.Settings>
            <setting name="RegistryPath" serializeAs="String">
                <value>SOFTWARE\Arcadis\AutoCAD Loader</value>
            </setting>
            <setting name="RegistryKeyOfficesApi" serializeAs="String">
                <value>UrlApiOffices</value>
            </setting>
            <setting name="RegistryKeyInstallPath" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="CentralLocation" serializeAs="String">
                <value>I:</value>
            </setting>
        </AutoCADLoader.Properties.Settings>
    </userSettings>
</configuration>