<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoCADLoader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <AutoCADLoader.Properties.Settings>
            <setting name="RegistryPath" serializeAs="String">
                <value>HKEY_LOCAL_MACHINE\SOFTWARE\IBI Group\IBI Group - AutoCAD Loader</value>
            </setting>
            <setting name="RegistryKeyOfficesApi" serializeAs="String">
                <value>URLOfficeAPI</value>
            </setting>
            <setting name="RegistryKeyInstallPath" serializeAs="String">
                <value>Path</value>
            </setting>
            <setting name="NetXMLFolder" serializeAs="String">
                <value>_Applications\Ref\AutoCADLoader\</value>
            </setting>
            <setting name="NetSupportFolder" serializeAs="String">
                <value>_DesignCenter\Support</value>
            </setting>
            <setting name="NetRefFolder" serializeAs="String">
                <value>_Applications\Ref\</value>
            </setting>
            <setting name="NetPackageFolder" serializeAs="String">
                <value>_Applications\_PackageUpdates\</value>
            </setting>
            <setting name="DstSupportFolder" serializeAs="String">
                <value>C:\IBI\IBIACad</value>
            </setting>
            <setting name="CompanyFolder" serializeAs="String">
                <value>Arcadis</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>AutoCAD Loader</value>
            </setting>
        </AutoCADLoader.Properties.Settings>
    </userSettings>
</configuration>